$primary-color: #1C77C3; // Blu scuro
$secondary-color: #39A9DB; // Blu chiaro
$accent-color: #40BCD8; // Turchese
$warning-color: #F39237; // Arancione
$error-color: #D63230; // Rosso
$dark-gray: #333333; // Grigio scuro
$background-color: #f5f5f5; // Colore di sfondo chiaro

.enabling-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.enabling-card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: float 2s infinite ease-in-out;
  border-left: 5px solid;
}

.enabling-card.success {
  border-color: #28a745;
}

.enabling-card.error {
  border-color: #dc3545;
}

.enabling-card h2 {
  color: #28a745; /* Verde per il titolo di successo */
}

.enabling-card.error h2 {
  color: #dc3545; /* Rosso per il titolo di errore */
}

.enabling-card p {
  color: #666;
  margin-bottom: 2rem;
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
