<div class="home-container d-flex">
  <div class="left-section d-flex justify-content-center align-items-center">
    <div class="logo-placeholder"></div>
  </div>
  <div class="right-section d-flex flex-column justify-content-center align-items-center">
    <div class="slogan text-center">
      <h1>Impara dal passato, ispira il futuro</h1>
    </div>
    <div class="auth-section text-center">
      <h2>Iscriviti adesso</h2>
      <a class="btn btn-success neon-btn" routerLink="/auth/register">
        <span>Crea account</span>
      </a>
      <p class="terms">Iscrivendoti accetti i Termini di servizio e l'Informativa sulla privacy, incluso l'Utilizzo dei cookie.</p>
      <p>Hai già un account?</p>
      <a class="btn btn-primary neon-btn" routerLink="/auth/login">
        <span>Accedi</span>
      </a>
    </div>
  </div>
</div>
