<h2 class="text-center" mat-dialog-title>Modifica Pubblicità</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Titolo</mat-label>
      <input matInput [(ngModel)]="newAdvert.title" name="title" placeholder="Titolo">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Descrizione</mat-label>
      <textarea matInput [(ngModel)]="newAdvert.description" name="description" placeholder="Descrizione"></textarea>
    </mat-form-field>
  </form>
  <div *ngIf="imagePreview" class="uploaded-image-container">
    <img [src]="imagePreview" alt="Anteprima Immagine" class="uploaded-image" (click)="triggerFileInput()">
    <div class="overlay">
      <button type="button" class="btn btn-primary btn-edit-image" (click)="triggerFileInput()">
        <i class="fas fa-pencil-alt"></i>
      </button>
    </div>
    <input id="file-input" type="file" class="d-none" (change)="onFileChange($event)">
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Annulla</button>
  <button mat-button (click)="onSubmit()" [disabled]="!newAdvert.title || !newAdvert.description">Aggiorna</button>
</mat-dialog-actions>
