.section {
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.section.active {
  background-color: #007bff;
  color: #fff;
}

.section:hover {
  background-color: #f0f0f0;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.posts-section {
  position: relative;
  transition: transform 0.3s ease-in-out;
}
