<div class="section-header mt-5"></div>
<div *ngIf="user" class="container mt-0">
  <div class="card w-100 mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8 d-flex">
          <div class="profile-image-container position-relative">
            <img [src]="user.profilePicture" class="profile-image rounded-circle" alt="Profile Picture" width="150" height="150">
            <div class="overlay d-flex justify-content-center align-items-center">
              <button class="btn btn-primary btn-edit-profile" (click)="openImageUploadModal()">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </div>
          </div>
          <div class="user-info ms-3">
            <h3>{{ user.firstName }} {{ user.lastName }}</h3>
            <h5 class="text-muted">{{ user.username }}</h5>
            <small class="text-muted">Joined: {{ user.createdAt | date:'short' }}</small>
            <p class="mt-3">{{ user.bio }}</p>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-end align-items-start">
          <div *ngIf="!isOtherUser">
            <button class="btn btn-secondary" (click)="editProfile()">Modifica</button>
          </div>
          <div *ngIf="!isOtherUser">
            <button class="btn btn-danger ms-3" (click)="deleteProfile(user.id)">Elimina</button>
          </div>
          <div *ngIf="isOtherUser">
            <button class="btn btn-primary" (click)="toggleFollow()">{{ isFollowing ? 'Unfollow' : 'Follow' }}</button>
          </div>
        </div>
      </div>
      <div class="row mt-3 align-items-center">
        <div class="col-2"></div>
        <div class="col-8 d-flex justify-content-center">
          <div class="me-4">
            <i class="fas fa-users"></i>
            <span (click)="openFollowersModal()">Followers: {{ followersCount }}</span>
          </div>
          <div class="me-4">
            <i class="fas fa-user-friends"></i>
            <span (click)="openFollowingModal()">Following: {{ followingCount }}</span>
          </div>
        </div>
        <div class="col-2 d-flex justify-content-end">
          <button *ngIf="isOtherUser" class="btn btn-danger mt-3" (click)="reportUser(user.id)">
            <i class="fas fa-flag"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-around">
      <div class="section" [class.active]="selectedSection === 'posts'" (click)="viewUserPosts()">
        <i class="fas fa-pencil-alt"></i>
        <span *ngIf="!isOtherUser">I tuoi post</span>
        <span *ngIf="isOtherUser">I post di {{ user.username }}</span>
      </div>
      <div *ngIf="!isOtherUser" class="section" [class.active]="selectedSection === 'likedPosts'" (click)="viewLikedPosts()">
        <i class="fas fa-heart"></i>
        <span>I post a cui hai messo like</span>
      </div>
      <div *ngIf="!isOtherUser" class="section" [class.active]="selectedSection === 'favoritePosts'" (click)="viewFavoritePosts()">
        <i class="fas fa-bookmark"></i>
        <span>I tuoi post preferiti</span>
      </div>
    </div>
  </div>
  <div class="posts-section mt-4 posts-viewport">
    <ng-container *ngIf="selectedSection === 'posts'">
      <div *ngFor="let post of userPosts; let i = index" [ngClass]="'item-' + i">
        <app-post-card [post]="post" [currentUserId]="currentUserId"></app-post-card>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'likedPosts' && !isOtherUser">
      <div *ngFor="let post of likedPosts; let i = index" [ngClass]="'item-' + i">
        <app-post-card [post]="post" [currentUserId]="currentUserId"></app-post-card>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'favoritePosts' && !isOtherUser">
      <div *ngFor="let post of favoritePosts; let i = index" [ngClass]="'item-' + i">
        <app-post-card [post]="post" [currentUserId]="currentUserId"></app-post-card>
      </div>
    </ng-container>
  </div>
</div>
