.report-card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  .card-header {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    padding: 10px;
  }

  .btn-outline-light {
    color: #fff;
    border-color: #fff;

    &:hover {
      background-color: #fff;
      color: #007bff;
    }
  }

  .btn-delete {
    &:hover {
      background-color: #dc3545;
      color: #fff;
      border-color: #dc3545;
    }
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .card-text {
    font-size: 1rem;
    color: #555;
  }
}

.report {
  height: 1000px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.report::-webkit-scrollbar {
  display: none;
}

.cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: column;
}

