.d-flex.flex-column {
  width: 100%;
  max-width: 250px;
}

.bg-light {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
  text-align: left;
}

.btn i {
  width: 24px;
  text-align: center;
}
