.menu-button, .btn-danger {
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
}

.menu-button:hover, .btn-danger:hover {
  color: white;
  transform: scale(1.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.menu-button:hover {
  background-color: #9c9d9e;
}

.menu-button:hover i {
  color: white;
}

.d-flex.flex-column {
  width: 100%;
  max-width: 250px;
}

.bg-light {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
  text-align: left;
}

.btn i {
  width: 24px;
  text-align: center;
}

.btn-light {
  display: flex;
  align-items: center;
}
