<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="d-flex flex-column menu-container bg-light p-3 border shadow">
    <button routerLink="/feed" class="btn btn-light d-flex align-items-center mb-2 menu-button">
      <i class="fas fa-home me-2"></i> Feed
    </button>
    <button *ngIf="!isAdmin" [routerLink]="['profile/',userId]" [queryParams]="{ section: 'favoritePosts' }" class="btn btn-light d-flex align-items-center mb-2 menu-button">
      <i class="fas fa-star me-2"></i> I Tuoi Preferiti
    </button>
    <button [routerLink]="['profile/',userId]" class="btn btn-light d-flex align-items-center mb-2 menu-button">
      <i class="fas fa-user me-2"></i> Profilo
    </button>
    <button *ngIf="isAdmin" routerLink="/advert" class="btn btn-light d-flex align-items-center mb-2 menu-button">
      <i class="fas fa-bullhorn me-2"></i> Sponsor
    </button>
    <button *ngIf="isAdmin" routerLink="/reports" class="btn btn-light d-flex align-items-center mb-2 menu-button">
      <i class="fas fa-flag me-2"></i> Report
    </button>
    <button *ngIf="isAdmin" routerLink="/user-managment" class="btn btn-light d-flex align-items-center mb-2 menu-button">
      <i class="fas fa-users-cog me-2"></i> Gestione utenti
    </button>
    <button class="btn btn-danger d-flex align-items-center mt-auto" (click)="logout()">
      <i class="fas fa-sign-out-alt me-2"></i> Logout
    </button>
  </div>
</div>
